<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./FocusArea__Weather-02.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <title>about</title>
</head>
<body>
   {{>header}} 

    <div class="main">
        <div class="main__content">
            <p>這網站來自 Alex Tsai 的第一個上線作品，學習於 Udemy 的 <a href="The Complete Node.js Developer Course (3rd Edition)">The Complete Node.js Course。</a></p>
            <p>結合了 API 操作與 Express、npm的使用。</p>

            <p>
                調用的 API，與課程上的版本差異極大，還有各種我的神奇操作...，在遇上的問題時總是花費許久才發現錯誤，可在成品完成之時，喜悅與成就感還是滿滿Der
                (雖然滿滿的粗糙感😂😀)。
            </p>
            <p>雖然目前還是超級菜鳥，不過緩慢地朝著目標前進比之前心無所向的生活充實許多</p>
            
            <span class="linkBox">
                <a href="https://www.notion.so/Node-js-5b0c5434669b4a06a53839c24b077463?pvs=4"  target="_blank">notion 筆記 (還未整理好)</a>
                <a href="https://twitter.com/AlexTsai1114" target="_blank">我的推特 X</a>
            </span>
            
        </div>
    </div>
    
   {{>footer}}
    <script src="./js/app.js"></script>
</body>
</html>