<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <div class="adBox">
        <a 
        href="https://youtube.com/shorts/xGc9kHrnpxc?feature=share"
        target="_blank"
        >
            <img src="./css/img/oshinok.jpg" alt="黑川" class="adBox--img1">
        </a>
    </div>
    <footer>
        <ul class="footer__textbox">
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
        <p class="created">Created by {{created}}</p>
    </footer>
   
</body>
</html>